@CHARSET "UTF-8";
*{margin:0;padding:0;}/*很重要，不然会出现offset等奇怪问题*/
html{ font-family:"microsoft yahei",arial;
	font-size:100%;}
body{margin:0;}
img{max-width:100%;}
li{list-style:none;}
/*title*/
.title img{
	    height:15vmin;
	/*	background-image:url(/HighYan/APP/Modules/Index/Public/Images/top.gif);
		background-repeat:no-repeat;
		background-size:100% auto;*/
		}
/*nav*/
nav{height:15%;
	background-color:#333;
	}
nav ul{text-align:center;}
nav li{ display:inline-block;
		/*margin-right:5vmin;
		line-height:3vmin;
		text-align:center;*/
		padding-right:4%;
		padding-top:0.3%;
		padding-bottom:0.3%;
		/*line-heigh:2em;*/
		
		}
nav li a{text-decoration:none;
		color:#eeeeee;
		}
nav li a:hover,#menuIcon:hover{color:#DDD;}
#menuIcon{display:none;
		color:white;
		font-size:3vmin;
		text-decoration:none;
		font-size:arial;
			}
/*content*/
.content{
		margin:0 auto;
		}	
/*footer*/
footer{ height:15%;
		width:100%;
		text-align:center;
		/*background:url(../Images/bottomNew.gif) no-repeat;*/
	}
	

@media screen and (max-width: 500px) {

    nav ul {
        display:none;
        width:16vmin;
        padding:0;
        position:absolute;
        right:0;
        /*text-align:left;*/
        text-align:center;
        border-left:1px groove #333;
        background-color:#333;
        
    }

    #menuIcon {
        display:block;
        text-align:right;
        padding:0 5px;
        
    }
	 nav ul li {
        width:100%;
        padding:1px 0;
        border-bottom:1px dashed #000;
        
    }
    nav li a{text-decoration:none;
	color:#eee;
	font-size:3.5vmin;}

    nav ul li:hover {
        background-color:#ddd;
    }


}					