/**
===============================================================
	 CSS重置样式 公用层
===============================================================
**/
@font-face {
    font-family: 'fzjhjt';
    src:url(fzjhjt.otf);
}

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,i ,b,a{
	margin: 0;
	padding: 0; font-family: 'Microsoft YaHei','微软雅黑';-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{background:#f5f5f5;margin: 0; overflow-x:hidden;
	padding: 0; }
/*A*/
a{
	text-decoration:none; outline:none;
}
a:hover{
	text-decoration:none;
}
/*img*/
img{ border:0 none; vertical-align:top;}
/*li*/
ul,li{list-style-type:none;}
/*浮动*/
.fl{
	float:left;
	display:inline;
}
.fr{
	float:right;
	display:inline;
}
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

/*button*/
button{ cursor:pointer;}
.colorred{ color:#DD263C !important;}
.colorblue{ color:#09B7FF !important;}
.colorblue2{ color:#0C91D8 !important}
.colory{ color:#FFDD18 !important;}
.colororange{ color:#F60 !important;}
.colorgray{ color:#898989 !important}
/*i,em重置*/
i,em{ font-style:normal;}
/*居中*/
.tc{ text-align:center !important;}
.magl0{ margin-left:0 !important;}
.mart0{ margin-top:0 !important; padding-top:0 !important;}
.borderno{ border:none !important}
.bgno{ background:none !important}
input::-webkit-input-placeholder {color:#b2b2b2 !important; }
textarea::-webkit-input-placeholder {color:#b2b2b2 !important; }
textarea{ outline:none}
input{-webkit-appearance: none;appearance: none; outline:none;}
.mart30{ margin-top:30px !important;}
.mart20{ margin-top:20px !important;}
.mart10{ margin-top:10px !important;}
.mar5{ margin-right:5% !important;}
.top{ width:100%; height:45px; text-align:center; line-height:45px; position:fixed; top:0; left:0; background:#FE5164; color:#fff; font-size:17px; z-index:99; letter-spacing:2px;}
.backa{ margin:-10px 0 0 3%; position:absolute; top:50%; left:0; height:20px;}
.backa img{ height:20px; }
.toph{ width:100%; height:45px;}
.wid90{ width:90%; margin:0 5%;}
.none{ display:none;}
.bggray{ background:#ccc !important;}

/*首页*/
.top-nav{ position:relative; width:100%;}
.wid100{ width:100%;}

/*会员中心*/
.my-pho{ width:90%; padding:10px 5%; background:#fff; margin-bottom:10px;}
.my-l{ float:left; width:30%; padding-right:3%; text-align:center;}
.my-l img{ width:100px; height:100px;}
.my-r{ float:left; width:67%; position:relative;}
.my-r h2{ font-size:16px; font-weight:normal; color:#333; line-height:30px; margin-bottom:20px;}
.my-r h3{ font-size:12px; font-weight:normal; color:#e03f09; line-height:30px;}
.my-r p{ font-size:12px; font-weight:normal; color:#808080; line-height:20px;}
.my-rt{ position:absolute; right:0; top:5px; z-index:11;}
.chongz{ position:absolute; right:0; bottom:0; z-index:11; background:#E03F09; color:#fff; display:block; height:30px; width:59px; text-align:center; border-radius:5px; line-height:30px; font-size:14px;}
.my-rtlogo{ height:30px; margin-top:-5px;}
.my-list{ width:90%; padding:0 5%; background:#fff;}
.my-list li{ border-bottom:1px solid #f2f2f2; background:url(../images/icon_xiangyou.png) no-repeat right center; background-size:10px 18px;}
.my-list img{ width:20px; height:20px; margin:0 5px;}
.my-list a{ display:block; width:100%; padding:16px 0; line-height:20px; font-size:16px; color:#999;}
